/* This import is necessory to use media variable using scss*/
@import "../../../styles.scss";

#signup-component {
    background-color: #00839D;
    min-height: 100vh;

    .signup-container {
        padding: 10px;

        header {
            text-align: center;
            color: #fff;
            margin-bottom: 15px;
        }

        .signupFrom-container {
            background-color: #EDF0F3;
            padding: 25px;
            color: #000;
            border-radius: 10px;
            width: 800px;
            margin: 5px auto 0 auto;

            @include screen900 {
                width: 730px;
            }

            @include screen768 {
                width: 620px;
            }

            @include screen667 {
                width: 520px;
            }

            @include screen568 {
                width: 430px;
            }

            @include screen480 {
                width: 370px;
            }

            @include screen414 {
                width: 330px;
            }

            @include screen375 {
                width: 270px;
            }

            @include screen320 {
                width: 250px;
            }

            .form-group {
                margin-bottom: 0.5rem;
            }

            .form-control.is-invalid:focus {
                box-shadow: none;
            }

            .form-control:focus {
                box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
            }

            button {
                width: 50%;
                background-color: #0073b1;
                margin-top: 25px;
            }

            .error-message {
                position: absolute;
            }

            .note-message {
                border: 2px solid #00839D;
                margin-top: 15px;
            }
        }
    }
}