#signup-component {
    background-color: #e9ecef;

    .signupFrom-container {
        padding: 10px;
    }

    header {
        text-align: center;
        padding-top: 20px;
    }

    button {
        width: 50%;
    }
}