#signup-component {
    background-color: #00839D;
    min-height: 100vh;

    .signup-container {
        padding: 10px;

        header {
            text-align: center;
            color: #fff;
        }

        .signupFrom-container {
            background-color: #EDF0F3;
            padding: 30px;
            color: #000;
            margin-top: 30px;
            border-radius: 10px;

            .form-control.is-invalid:focus {
                box-shadow: none;
            }

            .form-control:focus {
                box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
            }

            button {
                width: 50%;
                margin-top: 20px;
                background-color: #0073b1;
            }
        }
    }
}