<div class="container-fluid" id="signup-component">
  <div class="signup-container">
    <header>
      <h2>Sign Up Form</h2>
    </header>
    <div class="signupFrom-container">
      <form [formGroup]="signupForm" (ngSubmit)="onSignup()" autocomplete="off" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstName">First Name*</label>
              <input type="text" formControlName="firstName" #firstName class="form-control" [ngClass]="{ 'is-invalid': (signupForm.controls.firstName.dirty && signupForm.controls.firstName.invalid) }">
              <div class="text-danger error-message" *ngIf="signupForm.controls.firstName.dirty && signupForm.controls.firstName.invalid">
                <p *ngIf="signupForm.controls.firstName.hasError('required')">First Name is required</p>
                <p *ngIf="signupForm.controls.firstName.hasError('maxlength')">Max 20 characters is allowed</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lastName">Last Name*</label>
              <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': (signupForm.controls.lastName.dirty && signupForm.controls.lastName.invalid) }">
              <div class="text-danger error-message" *ngIf="signupForm.controls.lastName.dirty && signupForm.controls.lastName.invalid">
                <p *ngIf="signupForm.controls.lastName.hasError('required')">Last Name is required</p>
                <p *ngIf="signupForm.controls.lastName.hasError('maxlength')">Max 20 characters is allowed</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Email*</label>
              <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': (signupForm.controls.email.dirty && signupForm.controls.email.invalid) }"
              />
              <div class="text-danger error-message" *ngIf="signupForm.controls.email.dirty && signupForm.controls.email.invalid">
                <p *ngIf="signupForm.controls.email.hasError('required')">Email is required</p>
                <p *ngIf="signupForm.controls.email.hasError('pattern')">invalid email</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="mobile">Mobile</label>
              <input type="tel" formControlName="mobile" class="form-control" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="password">Password*</label>
              <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': (signupForm.controls.password.dirty && signupForm.controls.password.invalid) }"
              />
              <div class="text-danger" *ngIf="signupForm.controls.password.dirty && signupForm.controls.password.invalid">
                <p *ngIf="signupForm.controls.password.hasError('required')">Password is required</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="confirmPassword">Confirm Password*</label>
              <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': (signupForm.controls.confirmPassword.dirty && signupForm.controls.confirmPassword.invalid) }"
              />
              <div class="text-danger" *ngIf="signupForm.controls.confirmPassword.dirty && signupForm.controls.confirmPassword.invalid">
                <p *ngIf="signupForm.controls.confirmPassword.hasError('required')">Confirm password is required</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Nested formGroup -->
        <div formGroupName="address">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" formControlName="city" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="state">State</label>
                <input type="text" formControlName="state" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="zip">Zip</label>
                <input type="number" formControlName="zip" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="country">Country</label>
                <input type="text" formControlName="country" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-success" [disabled]="signupForm.invalid">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>