/* This import is necessory to use media variable using scss*/
@import "../../../styles.scss";

#login-container {
    min-height: 100vh;
    background-color: #009d8d;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

    .login-form-container {
        background-color: #FFFFFF;
        height: 300px;
        width: 400px;
        border-radius: 10px;
        padding: 15px;

        /* Vertically & horizontally center*/
        position: absolute; /*it can be fixed too*/
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        @include screen414 {
            width: 350px;
        }

        @include screen375 {
            width: 312px;
        }

        @include screen320 {
            width: 300px;
        }

        header {
            h3 {
                line-height: 50px;
                text-align: center;
                color: #4CAF50;
            }
        }

        .login-form {
            text-align: center;
            padding: 5px 15px;

            input {
                background: #f2f2f2;
                padding: 15px;
                box-sizing: border-box;
                font-size: 14px;
            }

            .form-group {
                margin-bottom: 1.8rem;

                .form-control:focus {
                    box-shadow: none;
                }

                .form-control.is-invalid:focus {
                    box-shadow: none;
                }
            }

            button {
                font-family: "Roboto", sans-serif;
                text-transform: uppercase;
                outline: 0;
                background: #4CAF50;
                width: 64%;
                border: 0;
                padding: 12px;
                color: #FFFFFF;
                font-size: 14px;
                -webkit-transition: all 0.3 ease;
                transition: all 0.3 ease;
                cursor: pointer;
            }

            button:hover,
            button:active,
            button:focus {
                background: #43A047;
            }

            .message {
                margin: 15px 0 0;
                color: #b3b3b3;
                font-size: 12px;
            }

            .message a {
                color: #4CAF50;
                text-decoration: none;
            }

            .error-message {
                text-align: left;
                position: absolute;
            }
        }
    }
}